# Copyright (c) 2023 Surya Poudel
# SPDX-License-Identifier: Apache-2.0

config SD_FAT32
	bool "FAT32 file system lib for SD card"
	default n
	depends on SD_DRV
	help
	 Enable the sdFat32 file system library.
