# OS-specific files
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*~

# Zephyr / CMake build output
build/
build */
build-*/
build*/
cmake-build-*/
/bin/
/obj/
/debug/
/release/
CMakeCache.txt
CMakeFiles/
CMakeScripts
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.ninja_deps
.ninja_log
*.ninja
*.elf
*.bin
*.hex
*.map
*.obj
*.o
