# Copyright (c) 2023 Surya Poudel
# SPDX-License-Identifier: Apache-2.0

config SD_DRV
	bool "SD card driver on SPI bus"
	default n
	depends on DT_HAS_ZEPHYR_SDHC_SPI_SLOT_ENABLED
	depends on !SDHC
	select SPI
	help
	 Enable SD card driver.
